* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

a {
  outline: none;
  color: black;
  text-decoration: none; }

body {
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333; }

ul {
  list-style: none; }

.wrapper-all {
  min-width: 1920px;
  overflow: hidden; }

.top-content {
  margin: 0 auto;
  position: relative;
  z-index: 10; }

.logo {
  position: absolute;
  display: block;
  /* padding: 30px 7px; */
  background: #fff;
  background-size: 180px 180px;
  border-radius: 50%;
  padding: 19px;
  margin-left: 36px;
  margin-top: 6px; }

.top-line {
  display: inline-block;
  width: 100%;
  margin-left: 312px;
  padding-left: 26px;
  padding-top: 27px;
  margin-bottom: 17px; }

.top-social {
  float: left;
  padding-right: 35%;
  margin-left: 48px; }

.join {
  margin-top: -6px;
  margin-left: -2px;
  padding-bottom: 5px; }

.soc-icon {
  padding-right: 9px; }

.top-info {
  float: left;
  padding-right: 20px;
  width: 415px;
  margin-left: -34px;
  margin-top: -6px; }

.title {
  font-family: Days, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.671);
  line-height: 0.8;
  padding-left: 2px;
  padding-bottom: 10px; }

.address {
  padding-bottom: 1px;
  padding-left: 3px; }

.time {
  padding-left: 3px; }

.map-link {
  text-decoration: underline;
  color: #056839; }

.top-tel {
  float: right;
  margin-right: 374px;
  margin-top: -6px;
  text-align: right; }

.tel {
  font-family: Days, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.671);
  line-height: 0.8; }

.order-before {
  padding-top: 9px;
  padding-bottom: 2px;
  padding-right: 2px; }

.email {
  text-decoration: underline;
  color: #056839; }

.top-menu-line {
  height: 50px;
  display: block;
  margin-top: 6px;
  padding-top: 16px;
  background-color: #056839; }

.top-menu {
  min-width: 1470px;
  margin-left: 384px; }

.menu-item {
  float: left;
  padding-right: 80px; }
  .menu-item a {
    color: #fff;
    text-decoration: underline; }

.photo-1 {
  min-width: 1920px;
  width: 100%;
  overflow: hidden;
  position: relative;
  top: -22px;
  left: -16px;
  z-index: 1; }

.slogan {
  position: absolute;
  font-family: Days, sans-serif;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  top: 464px;
  left: 402px; }

.slogan-description {
  position: relative;
  display: block;
  width: 705px;
  font-family: Cuprum, sans-serif;
  font-size: 24px;
  line-height: 1.3;
  color: #fff;
  top: -247px;
  left: 402px; }

.content {
  margin: 0 auto;
  position: relative;
  z-index: 10;
  width: 1130px; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.rasporka {
  width: 100%;
  height: 100px; }
