extends layout/layout
block variables
block content
            .photo-1
                img(src="img/photo-1.png" style="width: 100%;" alt="")
                p.slogan
                    | ЛЮБИТЬ
                    span.slogan-description
                        | В контактном зоопарке вас ждут пушистые кролики, забавные шиншилы#[br]
                        | и яркие попугайчики. Еноты будут спать на руках ваших детей, а хорьки
                        | поиграют с ними в прятки. Здесь не придется тянуться через решетку#[br]
                        | к питомцам, а можно свободно и в свое удовольствие кормить их, гладить,
                        | трогать и фотографировать !
            .picture-cutter
            .content
                .first-article
                    .topic.about
                        | Контактный эко
                        | зоопарк в Лобне,
                        | ТРЦ «Поворот»
                .palm-picture
                    img(src="img/palm.png" style="width: 174px; height: 174px;").palm
                .text.about-text
                    | Контактный зоопарк в Москве - это удивительное место, где взрослые#[br]
                    | и дети могут общаться с животными, учиться любить их и заботиться.#[br]
                    | Наших питомцев можно гладить, кормить и брать на ручки. Все животные
                    | имеют прививки и ветеринарные паспорта, у нас чисто и уютно,#[br]
                    | а заботливые сотрудники проведут увлекательную экскурсию#[br]
                    | и расскажут вам удивительные истории про наших постояльцев.#[br]
                    | Добро пожаловать в наш частный мини зоопарк !
                .about-background
                    .blue-turtle
                    .grey-turtle
                    .rose-turtle
                img(src="img/turtle.png" style="width: 530px; height: 398px;").turtle
                a(href="javascript:void(0);").btn.btn-about
                    | О зоопарке

                img(src="img/pig.png" style="width: 530px; height: 419px;").pig
                .activity-background
                    .blue-pig
                    .grey-pig
                    .rose-pig
                .second-article
                    .topic.activity
                        | Театрализованные
                        | представления, Детские
                        | дискотеки, мастер-классы

                    .text.activity-text
                        | Аквагрим для детей – уникальная возможность перевоплотится#[br]
                        | в сказочного героя, в считанные минуты преобразившись в принцессу,#[br]
                        | фею, бабочку, пирата, тигра, кота, человека-паука, бэтмена или любого#[br]
                        | другого любимого героя. Аквагрим – это настоящее маленькое чудо,#[br]
                        | волшебство. Самое интересное, что деткам нравится не только конечный#[br]
                        | результат, но и сам процесс преображения, за которым они наблюдают#[br]
                        | с широко открытыми глазами.

                a(href="javascript:void(0);").btn.btn-activity
                    | Мероприятия

                .third-article
                    .topic.animals
                        | У нас есть множество зверят,#[br]
                        | с которыми ваши дети смогут
                        | пообщаться
                .text.animals-text
                    | В нашем контактном зоопарке вы сможете увидеть более 22 видов
                    | разнообразных животных: шиншиллы, сурки, хорьки, енотовидные собаки,
                    | болдуины, гигантская черепаха, кролики, мини-козы, кролик-гигант,
                    | попугайчики, сурикаты, еноты, крысы, лиса-фенёк, белки, куры, мини-пиги,
                    | овечки, носухи, мини-лошадка и даже настоящий дикобраз. Приходите#[br]
                    | и подружитесь с нашими маленькими друзьями!
                .animals-background
                    .yellow-sheep
                    .grey-sheep
                    .blue-sheep
                img(src="img/sheep.png" style="width: 530px; height: 451px;").sheep
                a(href="javascript:void(0);").btn.btn-animals
                    | Животные
                .paw-picture
                    img(src="img/paw.png" style="width: 168px; height: 184px;").paw


            .rasporka


