doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        // meta http-equiv="content-type" content="text/html; charset=utf-8"
        title Zoo
        link(rel="stylesheet" href="css/libs.min.css" type="text/css")
        link(rel="stylesheet" href="css/main.css" type="text/css")
        link(rel="stylesheet" href="css/normalize.css" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet" type="text/css")
        link(href="http://allfont.ru/allfont.css?fonts=days" rel="stylesheet" type="text/css")
    body
        .wrapper-all
            .top-content
                header
                    a.logo(href="/")
                        img(src="img/logo.png" style="width: 140px; height: 140px;" alt="")
                    .top-line.clearfix
                        .top-social
                            .join Присоединяйтесь к нам:
                            a.soc-icon(href="#")
                                img(src="img/vk.png" style="width: 40px; height: 40px;")
                            a.soc-icon(href="#")
                                img(src="img/fb.png" style="width: 40px; height: 40px;")
                            a.soc-icon(href="#")
                                img(src="img/in.png" style="width: 40px; height: 40px;")
                            a.soc-icon(href="#")
                                img(src="img/you-t.png" style="width: 40px; height: 40px;")
                        .top-info
                            .title Лобня, ТРЦ «Поворот»
                            .address Краснополянский проезд, 2, 1-й этаж напротив «Макдональдс»
                            .time
                                | Ежедневно с 10:00 до 20:00 без перерыва.
                                a.map-link(href="#")  Схема проезда
                        .top-tel
                            .tel +7 498 672-81-34
                            .order-before Предварительный заказ билетов
                            a.email(href="mailto:zakaz@ecozoopark.ru") zakaz@ecozoopark.ru
                block menu
                    mixin list(...items)
                        .top-menu-line.wrapper-all
                            ul.top-menu
                                each item in items
                                    li.menu-item
                                        a.object-list__link(href="#")= item
                    +list('О зоопарке','Животные','Мероприятия','Цены на билеты','Фото и видео','Отзвы','Правила посещения','Новости','Контакты','Вакансии')
            .photo-1
                img(src="img/photo-1.png" style="width: 100%;" alt="")
                h2.slogan
                    | ЛЮБИТЬ
                span.slogan-description
                    | В контактном зоопарке вас ждут пушистые кролики, забавные шиншилы
                    | и яркие попугайчики. Еноты будут спать на руках ваших детей, а хорьки
                    | поиграют с ними в прятки. Здесь не придется тянуться через решетку
                    | к питомцам, а можно свободно и в свое удовольствие кормить их, гладить,
                    | трогать и фотографировать !




            .content
                p Если вы разработчик со стажем, то наверняка слышали про SASS технологию. SASS – это язык проектирования CSS файла, упрощающий процесс написания CSS кода и предоставляющий расширенный инструментарий в виде переменных, логических операций и т.п. Сейчас я расскажу, как это дело настроить на локальной машине.
                p Ничего сложного в установке, казалось бы, и нет, но меня угораздило потратить порядка полутора часов, чтобы настроить связку SASS и PhpStorm. Дабы не наступать на эти грабли дважды – законспектирую. Еще скажу, что мне больше по вкусу пришелся язык разметки SCSS, нежели SASS – разница в обертывании данных фигурными скобками





            .rasporka


