@import "part"

*
  margin: 0
  padding: 0
  box-sizing: border-box

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary
  display: block

audio, canvas, progress, video
  display: inline-block
  vertical-align: baseline

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  border: 0
  outline: 0
  font-size: 100%
  background: transparent

a
  outline: none
  color: rgb(0, 0, 0)
  text-decoration: none

body
  font-family: 'Cuprum', sans-serif
  font-weight: 400
  font-size: 16px
  color: #333

ul
  list-style: none

.wrapper-all
  min-width: 1920px
  overflow: hidden

.top-content
  //padding: 0 50px
  margin: 0 auto
  position: relative
  z-index: 10

.logo
  position: absolute
  display: block
  //padding: 30px 7px;
  background: #fff
  background-size: 180px 180px
  //border: 1px solid white
  border-radius: 50%
  padding: 19px
  margin-left: 36px
  margin-top: 6px

.top-line
  display: inline-block
  width: 100%
  margin-left: 312px
  padding-left: 26px
  padding-top: 27px
  margin-bottom: 17px

.top-social
  float: left
  padding-right: 35%
  margin-left: 48px

.join
  margin-top: -6px
  margin-left: -2px
  padding-bottom: 5px

.soc-icon
  padding-right: 9px
  margin-left: 4px

.top-info
  float: left
  padding-right: 20px
  width: 415px
  margin-left: -51px
  margin-top: -6px

.title
  font-family: Days, sans-serif
  font-size: 24px
  font-weight: 400
  color: rgba(34, 34, 34, 0.671)
  line-height: 0.8
  padding-left: 2px
  padding-bottom: 10px

.address
  padding-bottom: 1px
  padding-left: 3px

.time
  padding-left: 3px

.map-link
  text-decoration: underline
  color: #056839

.top-tel
  float: right
  margin-right: 374px
  margin-top: -6px
  text-align: right

.tel
  font-family: Days, sans-serif
  font-size: 24px
  font-weight: 400
  color: rgba(34, 34, 34, 0.671)
  line-height: 0.8

.order-before
  padding-top: 9px
  padding-bottom: 2px
  padding-right: 2px

.email
  text-decoration: underline
  color: #056839

.top-menu-line
  height: 50px
  display: block
  margin-top: 6px
  padding-top: 16px
  background-color: #056839

.top-menu
  min-width: 1550px //1470
  margin-left: 384px

.menu-item
  float: left
  padding-right: 80px
  a
    color: #fff
    text-decoration: underline

.menu-item__bottom
  padding-right: 40px

.photo-1
  min-width: 1920px
  width: 100%
  overflow: hidden
  position: relative
  top: -22px
  left: -16px
  z-index: 1

.picture-cutter
  position: absolute
  margin-top: -59px
  min-width: 1920px
  width: 100%
  height: 50px
  overflow: hidden
  background-color: #fff
  z-index: 5

.slogan
  position: absolute
  margin: 0 auto
  width: 1130px
  font-family: Days, sans-serif
  font-size: 60px
  font-weight: 400
  letter-spacing: 2.9px
  color: #fff
  top: 464px
  left: 398px
  z-index: 10

  .slogan-description
    position: relative
    display: block
    width: 720px
    font-family: Cuprum, sans-serif
    font-size: 24px
    line-height: 1.3
    letter-spacing: normal
    color: #fff
    top: 14px
    left: 1px

.content
  margin: 0 auto
  position: relative
  z-index: 10
  width: 1130px

.first-article
  display: inline-block
  position: relative
  margin-top: 99px
  margin-left: -11px

.topic
  display: inline-block
  padding-bottom: 28px
  font-family: Days, sans-serif
  font-size: 24px
  font-weight: 400
  color: #056839
  text-transform: uppercase
  line-height: 1.25
  text-align: left
  letter-spacing: 0.8px

.about
  width: 293px


.palm-picture
  display: inline-block
  position: absolute
  margin-left: 61px
  margin-bottom: 17px
  margin-top: -12px

.palm
  width: 174px
  height: 174px

.text
  font-size: 18px
  color: #000
  //letter-spacing: 0.8px


.about-text
  width: 551px
  margin-left: -11px

.turtle
  position: relative
  margin-left: 579px
  margin-top: -297px
  margin-bottom: -68px
  z-index: 50

.about-background
  position: relative
  left: 661px
  top: -274px

.blue-turtle
  position: absolute
  top: -95px
  left: 43px
  width: 388px
  height: 388px
  border-radius: 50%
  background-color: rgb(39, 178, 170)
  opacity: 0.1
  z-index: 42

.grey-turtle
  position: absolute
  left: -80px
  top: 7px
  width: 401px
  height: 401px
  border-radius: 50%
  background-color: rgb(158, 198, 71)
  opacity: 0.1
  z-index: 41

.rose-turtle
  position: absolute
  left: 155px
  top: 78px
  width: 340px
  height: 340px
  border-radius: 50%
  background-color: rgb(213, 88, 39)
  opacity: 0.1
  z-index: 40

.btn
  display: block
  font-family: Days, sans-serif
  font-size: 18px
  font-weight: normal
  color: #fff
  text-transform: uppercase
  letter-spacing: 1px
  background-color: #056839
  width: 300px
  height: 60px
  border-radius: 38px
  text-align: center
  padding-top: 18px

.btn-about
  margin-left: -11px
  margin-bottom: 135px

.pig
  position: relative
  margin-left: -9px
  //margin-bottom: -68px
  z-index: 50


.activity-background
  position: relative
  left: 25px
  top: -442px

.blue-pig
  position: absolute
  top: -36px
  left: 172px
  width: 338px
  height: 338px
  border-radius: 50%
  background-color: rgb(34, 65, 143)
  opacity: 0.1
  z-index: 42

.grey-pig
  position: absolute
  left: -136px
  top: 73px
  width: 355px
  height: 355px
  border-radius: 50%
  background-color: rgb(22, 107, 61)
  opacity: 0.1
  z-index: 41

.rose-pig
  position: absolute
  left: 106px
  top: 136px
  width: 398px
  height: 398px
  border-radius: 50%
  background-color:  rgb(253, 180, 20)
  opacity: 0.1
  z-index: 40

.second-article
  position: relative
  margin-top: -385px
  margin-left: 575px

.activity
  letter-spacing: 1.2px
  margin-left: 2px
  width: 472px

.activity-text
  width: 522px
  padding-left: 3px
  padding-top: 1px
  margin-bottom: 36px

.btn-activity
  margin-right: 253px
  float: right
  margin-bottom: 215px

.third-article
  margin-left: -12px

.animals
  width: 636px
  letter-spacing: 1.2px

.animals-text
  width: 540px
  margin-left: -12px
  margin-top: 2px

.animals-background
  position: relative
  left: 639px
  top: -344px

.yellow-sheep
  position: absolute
  top: -43px
  left: 49px
  width: 395px
  height: 395px
  border-radius: 50%
  background-color: rgb(248, 239, 31)
  opacity: 0.1
  z-index: 42

.grey-sheep
  position: absolute
  left: -107px
  top: 170px
  width: 372px
  height: 372px
  border-radius: 50%
  background-color: rgb(96, 96, 98)
  opacity: 0.1
  z-index: 41

.blue-sheep
  position: absolute
  left: 143px
  top: 181px
  width: 395px
  height: 395px
  border-radius: 50%
  background-color: rgb(0, 234, 255)
  opacity: 0.1
  z-index: 40

.sheep
  position: relative
  margin-left: 580px
  margin-top: -294px
  z-index: 50

.btn-animals
  margin-top: -124px
  margin-left: -10px
  margin-bottom: -33px

.paw-picture
  margin-left: 340px
  margin-bottom: -132px

/*footer*/

.bott-info
  float: left
  padding-right: 20px
  width: 290px
  margin-left: 305px
  margin-top: -6px

.bott-descript
  float: left
  margin-left: 43px
  margin-right: -35px
  width: 310px
  font-size: 16px
  font-family: Cuprum, sans-serif
  color: rgb(102, 102, 102)
  line-height: 1.25
  text-align: left

.bott-social
  float: right
  margin-top: 43px
  margin-right: -247px

.bott-join
  margin-top: -6px
  margin-left: 48px
  padding-bottom: 5px

.bott-tel
  float: right
  margin-right: 744px
  margin-top: -4px
  text-align: right



.clearfix:after
  content: ""
  display: block
  clear: both

.rasporka
  width: 100%
  height: 200px
